name: NextJS Worker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - name: Install deps
        run: npm i

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Testing
        run: npx playwright test

      - name: Build
        run: npm run build:opennextjs

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{secrets.CLOUDFLARE_API_TOKEN}}
